Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

years_list = [year for year in range(2000, 2006)]
print(years_list)

In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [2]:
years_list = [year for year in range(2000, 2006)]
third_birthday_year = 2000 + 3
if third_birthday_year in years_list:
    print("My third birthday was in the year:", third_birthday_year)
else:
    print("My third birthday does not appear in the years_list.")

My third birthday was in the year: 2003

3.In the years list, which year were you the oldest?

In [3]:
birth_year = 2000  
years_list = [year for year in range(birth_year, birth_year + 6)]
oldest_year = years_list[-1]
print("The year in which I was the oldest was:", oldest_year)

The year in which I was the oldest was: 2005

Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [7]:
surprise = ["Groucho", "Chico", "Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [8]:
surprise = ["Groucho", "Chico", "Harpo"]
last_element = surprise[-1].lower()[::-1].capitalize()
print(last_element)

Oprah

In [9]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Write the French word for walrus in your three-word dictionary e2f.

In [10]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

french_word = e2f['walrus']
print(french_word)

morse

Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [12]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

f2e = {}
for english, french in e2f.items():
    f2e[french] = english

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Print the English version of the French word chien using f2e.

f2e = {
    'chien': 'dog',
    'chat': 'cat',
    'morse': 'walrus'
}

english_word = f2e['chien']
print(english_word)

Make and print a set of English words from the keys in e2f.

In [14]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

english_words = set(e2f.keys())
print(english_words)

{'cat', 'dog', 'walrus'}

Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [16]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

Print the top-level keys of life.

In [18]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

Print the keys for life[&#39;animals&#39;].

In [19]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [20]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']