Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [ ]:
with open('test.txt', 'r') as file:
    test2 = file.read()

In [ ]:
print(test1)
print(test2)
print(test1 == test2)

Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [ ]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [2]:
import sqlite3

conn = sqlite3.connect('books.db')

conn.execute('''CREATE TABLE books
                (title TEXT, author TEXT, year INTEGER)''')

conn.commit()
conn.close()

Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, year))

conn.commit()
conn.close()

Select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute("SELECT title FROM books ORDER BY title ASC")

for row in cursor.fetchall():
    print(row[0])

conn.close()

From the book table, select and print all columns in the order of publication.

import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute("SELECT * FROM books ORDER BY year ASC")

for row in cursor.fetchall():
    print(row)

conn.close()

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

connection = engine.connect()

Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
import redis

r = redis.Redis()

r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

print(r.hgetall('test'))

In [ ]:
Increment the count field of test and print it.

In [ ]:
import redis

# connect to Redis
r = redis.Redis()

# increment the count field of test and print its new value
count = r.hincrby('test', 'count', 1)
print(count)